@{
    ViewData["Title"] = ViewBag.Nombre;
    var cursos = (List<Curso>)Model;
    string docente;
}

<section class="seccion contenedor">
    <h2>Nuestros Cursos</h2>
    <p class="lead">Presentamos los cursos que poseemos actualmente, todos nuestros cursos presentados son totalmente gratuitos.</p>

    <ul class="lista-cursos clearfix">
        @for(int i = 0 ; i < 10;)
            @foreach (var item in cursos)
        {
            <li>
            <div class="tabla-curso">
                <div class="titulo-curso">
                    @if (item.Nombre.Length > 50)
                    {
                        <h3>@item.Nombre.Substring(0, 50) ...</h3>
                    }
                    else
                    {
                        <h3>@item.Nombre</h3>
                    }
                </div>
                <a href="/Curso/Detalle?idCurso=@item.Id">
                    <img alt="@item.Nombre" src="@item.Imagen" class="img-fluid rounded" />
                </a>
                <div> ________________________</div>

                <ul>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @{docente = item.Docente.Nombres + " " + item.Docente.Apellidos;}
                        @if (docente.Length > 50)
                        {
                            <span>@docente.Substring(0, 50) ...</span>
                        }
                        else
                        {
                            @docente
                        }
                    </li>
                    <li><i class="fa fa-book" aria-hidden="true"></i> @item.Categoria.Nombre</li>
                    <li>
                        @if (item.Precio > 0)
                        {
                            <span>S/ @item.Precio</span>
                        }
                        else
                        {
                            <span>Gratuito</span>
                        }
                    </li>
                </ul>
            </div>
            </li>
        }
        }
    </ul>
</section>