@{
    ViewData["Title"] = ViewBag.Nombre;
    Layout = null;
    var curso = (Curso)Model;
    int i = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="oracon, asesoria, contabilidad, empresas">
    <title>@ViewData["Title"] | Estudio Oracon SRL</title>

    <link rel="shortcut icon" href="/project/icono.jpg">

    <link rel="stylesheet" href="https://oraconsrl.com/home/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
</head>
<body>
    <header id="header" class="header-main">
        <div id="logoAndNav" class="main-header-menu-wrap bg-black">
            <div class="container">
                <nav class="js-mega-menu navbar navbar-expand-md header-nav">
                    <a class="navbar-brand" href="https://oraconsrl.com">
                        <img src="https://oraconsrl.com/home/img/logooracon.png"
                             alt="logo" class="img-fluid" width="100" />
                    </a>
                    <button type="button" class="navbar-toggler btn" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
                        <span id="hamburgerTrigger">
                            <span class="ti-menu"></span>
                        </span>
                    </button>
                    <ul>
                        <li>

                        </li>
                    </ul>
                    <div id="navBar" class="collapse navbar-collapse">
                        <ul class="navbar-nav main-navbar-nav">
                            <li class="nav-item hs-has-sub-menu custom-nav-item">
                                <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="https://oraconsrl.com/nosotros" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Nosotros</a>
                                <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="https://oraconsrl.com/nosotros">Quienes Somos</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="https://oraconsrl.com/equipo">Nuestro Equipo</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Logros</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="https://oraconsrl.com/clientes">Clientes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item hs-has-sub-menu custom-nav-item">
                                <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="#" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Servicios</a>
                                <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Contabilidad y Auditoría</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Administración y Marketing</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Desarrollo de Software</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item hs-has-sub-menu custom-nav-item">
                                <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="#" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Noticias</a>
                                <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Contabilidad</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Administración y Empresa</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Economía</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="#">Política</a>
                                    </li>
                                </ul>
                            </li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item hs-has-sub-menu custom-nav-item">
                                    <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="/Curso/Cursos" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Cursos</a>
                                    <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                        <li class="nav-item submenu-item">
                                            <a class="nav-link sub-menu-nav-link" href="/user/Login">Ingresar</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item hs-has-sub-menu custom-nav-item">
                                    <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="/Curso/Cursos" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Cursos</a>
                                    <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                        <li class="nav-item submenu-item">
                                            <a class="nav-link sub-menu-nav-link" href="/ajustes/index">Ajustes</a>
                                        </li>
                                        <li class="nav-item submenu-item">
                                            <a class="nav-link sub-menu-nav-link" href="/user/Logout">Salir</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ml-auto main-navbar-nav">
                            <li class="nav-item header-nav-last-item d-flex align-items-center">
                                <a class="btn btn-brand-03 animated-btn" href="#">
                                    Cliente VIP
                                </a>
                            </li>
                            <li class="nav-item header-nav-last-item d-flex align-items-center">
                                <a class="btn btn-outline-brand-03 animated-btn text-white" href="#">
                                    Conviertete en Cliente
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        <div class="responsive-nav">
            <div id="menu" class="menu">
                <h3>Contenido del curso</h3>
                <div class="accordion" id="accordionExample">
                    @if (curso.Modulos.Count > 0)
                    {
                        foreach (var item in curso.Modulos)
                        {
                            <div class="accordion-item">
                                <p class="accordion-header" id="heading_@item.Id">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="true" aria-controls="collapse_@item.Id">
                                        <strong>@item.Nombre</strong>
                                    </button>
                                </p>
                                <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="heading_@item.Id" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        @foreach (var clases in item.Clases)
                                        {
                                            <p><a onclick="video(@clases.Id)" href="#">@i.  @clases.Nombre</a></p>
                                            i++;
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <i class="fa fa-check" aria-hidden="true"> En este curso aun no se sube contenido</i>
                    }
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div id="video">
                    <iframe width="1018" height="600" src="@curso.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h1>@curso.Nombre</h1>
                    <p>@curso.Detalle</p>
                    <p><strong>Instructor: </strong>@curso.Docente.Nombres @curso.Docente.Apellidos</p>
                    <p><strong>Categoria: </strong>@curso.Categoria.Nombre</p>
                </div>
            </div>
        </section>
    </main>

    <div class="footer-desarrollo">
        <section class="ptb-60 gray-bg" id="footer">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-lg-6">
                        <div class="cta-content-wrap text-white">
                            <h2>Contáctanos</h2>
                            <p class="text-dark m-0">Prol. Amalia Puga #200</p>
                            <p class="text-dark m-0">oraconsrl@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 d-none d-lg-block">
                        <i class="fas fa-phone-alt mr-1 color-accent"></i>
                        <h3 class="mb-0 font-weight-light">Central Telefónica</h3>
                        <p class="m-0">925786403 <a href="#" class="text-primary">aquí</a></p>
                    </div>
                    <div class="col-md-4 col-lg-2 d-none d-lg-block">
                        <i class="fas fa-home mr-1 color-accent"></i>
                        <h3 class="mb-0 font-weight-light">Oficina Central</h3>
                        <p class="m-0">Encuéntranos <a href="#" class="text-primary">aquí</a></p>
                    </div>
                    <div class="col-md-4 col-lg-2 d-none d-lg-block">
                        <i class="fas fa-phone-alt mr-1 color-accent"></i>
                        <h3 class="mb-0 font-weight-light">Escríbenos</h3>
                        <p class="m-0">Deja tu consulta <a href="#" class="text-primary">aquí</a></p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-1 ptb-60 bg-white">
            <div class="container px-5">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="row mt-0">
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                                <h5 class="font-weight-normal">ACERCA DE ORACON</h5>
                                <ul>
                                    <li>Pasantía de prácticas</li>
                                    <li>Colaborador del mesa</li>
                                    <li>Nuestra historia y principios</li>
                                    <li>Nuestro blog</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                                <h5 class="font-weight-normal">PRODUCTOS</h5>
                                <ul>
                                    <li>Siscoe</li>
                                    <li>App</li>
                                    <li>Facturación Electrónica</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                                <a href="#" class="navbar-brand mb-2">
                                    <img src="https://oraconsrl.com/home/img/logooracon.png" alt="logo" class="img-fluid" width="200">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottom py-3 gray-light-bg">
            <div class="container px-5">
                <div class="row">
                    <div class="col-md-6 col-lg-7">
                        <div class="copyright-wrap small-text">
                            <p class="mb-0">&copy; 2021 Estudio Oracon SRL | Todos los derechos reservados. Prol. Amalia Puga 1234, Cajamarca, Perú.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top scroll-to-target primary-bg text-white" data-target="html">
            <span class="fas fa-hand-point-up"></span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="https://oraconsrl.com/home/js/vendors/hs.megamenu.js"></script>
    <script src="https://oraconsrl.com/home/js/app.js"></script>
</body>
</html>
